body {
  width:100%;
  height:100%;
  
color: black;
  /* background-image: url('./components/imgs/background.jpg');
  background-repeat: none;
  background-size: cover;
 
  background-attachment: fixed; */
  
}